.wrapper {
  font-family: sans-serif;
  min-width: 550px;
}

.task {
  padding: 10px;
  margin: 10px;
  border: solid #ffa07a 1px;
  border-radius: 15px;
  background-color: #ccc;
}

h2 {
  font-family: 'Exo 2', sans-serif;
  color: #ff7f50		;
  font-size: 150%;
}

.row-of-list {
  list-style: none;
  padding-left: 0;
}

.inputs-block {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  line-height: 1.5;
}

.house-data, .labels-for-house-data {
  width: 150px;
}

.chessboard {
  margin: 10px;
  border: 1px solid #000;
  border-collapse: collapse;
}

.chessboard__cell {
  width: 50px;
  height: 50px;
}

.chessboard__cell_white {
  background-color: #fff;
}

.chessboard__cell_black {
  background-color: #000;
}

img {
  width: 100px;
  height: 120px;
  border-radius: 19px;
}

button {
  min-width: 100px;
  border-radius: 20px;
}

#zodiac-result {
  padding: 15px;
}

#zodiac-result p {
  text-align: center;
  width: 100px;
}

#sum-of-numbers p {
  margin: 10px;
}

.error-text {
  color: red;
}

#task11 {
  max-width: 500px;
}
